<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{ime}} {{prezime}}!</h1>
    <ul>
        {{#each studenti}}
        <li>{{ime}} {{prezime}}</li>
        {{/each}}
    </ul>
    <hr>
    <br>
    {{!-- <table border="1" width="50%">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>calories</th>
            </tr>
             {{#each foods}}
           <tr> <td>{{id}}</td> <td>{{name}}</td> <td>{{price}}</td> <td>{{calories}}</td></tr>
            {{/each}}
        </thead>
        <tbody class="data">

        </tbody>
    </table> --}}

    <table border="1" width="50%">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
                <th>calories</th>
            </tr>
             {{#each jData}}
           <tr> <td>{{id}}</td> <td>{{name}}</td> <td>{{price}}</td> <td>{{calories}}</td></tr>
            {{/each}}
        </thead>
        <tbody >

        </tbody>
    </table>

   
    {{!-- <h1>f {{nl}} {{hw}}!</h1> --}}
    


</body>
</html>